*{
    margin: 0;
    font-family:Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;       /* vertical center everything */
    justify-content: space-evenly; /* logo + name start from left */
    padding: 0 20px;           /* spacing from sides */
    gap: 20px;
}

.navlogo{
    display: flex;
    align-items: center; /* vertical center inside navbar */
    gap: 10px;           /* space between logo and text */
}


.logo {
    width: 100px;
    height: 50px;
    background-image: url("./images/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-icon{
    display: flex;
}

/**box2**/
.Deliver{
    color: #CCCCCC;
    font-size: 0.759rem ;
    margin-left: 21px;
    align-items: center;
}

.country{
    color: white;
    font-size: 1rem;
    margin-left: 2px;
    align-items: center;
}

.border2{
    border: 3px solid transparent;
}

.border2:hover{
    border: 3px solid white;
}
/**box3**/
.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 600px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    border: none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    background-color: #febd68;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**box4**/
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box5**/
.nav-third{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box6**/
.nav-cart{
    display: flex;
    font-size: 0.85rem;
    align-items: baseline;
}

.nav-cart i{
    font-size: 2rem;
}

/**panel**/
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;

}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 1rem;
    font-weight: 700;
}

/**hero section**/
.hero-section{
    background-image: url("./images/hero_image.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 25px;
}

.hero-message a{
    color: #007185;
}

/**shop section**/
.shop-section{
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

/**footer**/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.2px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foot-panel4{
    background-color: #0F1111;
    color: white;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding: 25px;
}

.copyright{
    padding: 5px;
    font-size: 0.7rem;
    text-align: center;
}